In [1]:
import pyspark

In [2]:
import pandas as pd

In [3]:
ppl = pd.read_csv('./test1.csv')
ppl

         name  age
0      alonso   66
1  antonietta   33
2      andrea   44

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName('Practise').getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/spark-3.2.0-bin-hadoop3.2/jars/spark-unsafe_2.12-3.2.0.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
21/11/22 11:11:43 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [6]:
spark

In [7]:
df_pyspark = spark.read.csv('./test1.csv')

In [8]:
df_pyspark

DataFrame[_c0: string, _c1: string]

In [10]:
df_pyspark.show()

+----------+---+
|       _c0|_c1|
+----------+---+
|      name|age|
|    alonso| 66|
|antonietta| 33|
|    andrea| 44|
+----------+---+

In [11]:
df_pyspark = spark.read.option('header', 'true').csv('./test1.csv')
df_pyspark.show()

+----------+---+
|      name|age|
+----------+---+
|    alonso| 66|
|antonietta| 33|
|    andrea| 44|
+----------+---+

In [12]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [14]:
df_pyspark.head(3)

[Row(name='alonso', age='66'),
 Row(name='antonietta', age='33'),
 Row(name='andrea', age='44')]

In [15]:
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)