In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/spark-3.2.0-bin-hadoop3.2/jars/spark-unsafe_2.12-3.2.0.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
21/11/22 11:20:51 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
21/11/22 11:20:52 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
spark

##  Read and Check Datatypes

In [18]:
## read the dataset
#df_pyspark=spark.read.option('header','true').csv('test1.csv',inferSchema=True)
df_pyspark=spark.read.csv('la-riots.csv',header=True,inferSchema=True) #inferSchema --> age type turns from string to integer
df_pyspark.show(5)
df_pyspark.printSchema()

+----------+---------+---+------+------+----------+--------------------+------------+--------------------+------------+----------+
|first_name|last_name|age|gender|  race|death_date|             address|neighborhood|                type|   longitude|  latitude|
+----------+---------+---+------+------+----------+--------------------+------------+--------------------+------------+----------+
|  Cesar A.|  Aguilar| 18|  Male|Latino|1992-04-30|     2009 W. 6th St.|    Westlake|Officer-involved ...|-118.2739756|34.0592814|
|    George|  Alvarez| 42|  Male|Latino|1992-05-01|Main & College st...|   Chinatown|    Not riot-related|-118.2340982|34.0626901|
|    Wilson|  Alvarez| 40|  Male|Latino|1992-05-23| 3100 Rosecrans Ave.|   Hawthorne|            Homicide| -118.326816| 33.901662|
|  Brian E.|   Andrew| 30|  Male| Black|1992-04-30|Rosecrans & Chest...|     Compton|Officer-involved ...|-118.2153903|33.9034569|
|    Vivian|   Austin| 87|Female| Black|1992-05-03|    1600 W. 60th St.|Harvard Park|               Death| -118.304741| 33.985667|
+----------+---------+---+------+------+----------+--------------------+------------+--------------------+------------+----------+
only showing top 5 rows

root
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- race: string (nullable = true)
 |-- death_date: string (nullable = true)
 |-- address: string (nullable = true)
 |-- neighborhood: string (nullable = true)
 |-- type: string (nullable = true)
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)

In [24]:
df_pyspark.dtypes

[('first_name', 'string'),
 ('last_name', 'string'),
 ('age', 'int'),
 ('gender', 'string'),
 ('race', 'string'),
 ('death_date', 'string'),
 ('address', 'string'),
 ('neighborhood', 'string'),
 ('type', 'string'),
 ('longitude', 'double'),
 ('latitude', 'double')]

## Selecting Columns

In [17]:
df_pyspark.select('last_name').show(5)

+---------+
|last_name|
+---------+
|  Aguilar|
|  Alvarez|
|  Alvarez|
|   Andrew|
|   Austin|
+---------+
only showing top 5 rows

In [16]:
df_pyspark.select(['first_name', 'last_name']).show(5)

+----------+---------+
|first_name|last_name|
+----------+---------+
|  Cesar A.|  Aguilar|
|    George|  Alvarez|
|    Wilson|  Alvarez|
|  Brian E.|   Andrew|
|    Vivian|   Austin|
+----------+---------+
only showing top 5 rows

In [20]:
df_pyspark['first_name']

Column<'first_name'>

## Describe DataFrame

In [22]:
df_pyspark.describe().show()

+-------+----------+---------+------------------+------+-----+----------+--------------------+------------+--------------------+-------------------+-------------------+
|summary|first_name|last_name|               age|gender| race|death_date|             address|neighborhood|                type|          longitude|           latitude|
+-------+----------+---------+------------------+------+-----+----------+--------------------+------------+--------------------+-------------------+-------------------+
|  count|        63|       63|                62|    63|   63|        63|                  63|          63|                  63|                 63|                 63|
|   mean|      null|     null| 32.37096774193548|  null| null|      null|                null|        null|                null|-118.27991025222222|   34.0267134315873|
| stddev|      null|     null|14.253252572103964|  null| null|      null|                null|        null|                null|0.10519826121287769|0.09847129539812817|
|    min|     Aaron|  Aguilar|                15|Female|Asian|1992-04-29|  1005 S. Fresno St.|    Altadena|               Death|       -118.4717452|         33.7898575|
|    max|    Wilson| Williams|                87|  Male|White|1993-11-24|near North Los Ro...|    Westlake|Officer-involved ...|       -117.7306469|          34.287098|
+-------+----------+---------+------------------+------+-----+----------+--------------------+------------+--------------------+-------------------+-------------------+

## Add/Drop Columns

In [27]:
df_pyspark=df_pyspark.withColumn('age_2',df_pyspark['age']+2)

In [28]:
df_pyspark.show(5)

+----------+---------+---+------+------+----------+--------------------+------------+--------------------+------------+----------+----+-----+
|first_name|last_name|age|gender|  race|death_date|             address|neighborhood|                type|   longitude|  latitude|name|age_2|
+----------+---------+---+------+------+----------+--------------------+------------+--------------------+------------+----------+----+-----+
|  Cesar A.|  Aguilar| 18|  Male|Latino|1992-04-30|     2009 W. 6th St.|    Westlake|Officer-involved ...|-118.2739756|34.0592814|null|   20|
|    George|  Alvarez| 42|  Male|Latino|1992-05-01|Main & College st...|   Chinatown|    Not riot-related|-118.2340982|34.0626901|null|   44|
|    Wilson|  Alvarez| 40|  Male|Latino|1992-05-23| 3100 Rosecrans Ave.|   Hawthorne|            Homicide| -118.326816| 33.901662|null|   42|
|  Brian E.|   Andrew| 30|  Male| Black|1992-04-30|Rosecrans & Chest...|     Compton|Officer-involved ...|-118.2153903|33.9034569|null|   32|
|    Vivian|   Austin| 87|Female| Black|1992-05-03|    1600 W. 60th St.|Harvard Park|               Death| -118.304741| 33.985667|null|   89|
+----------+---------+---+------+------+----------+--------------------+------------+--------------------+------------+----------+----+-----+
only showing top 5 rows

In [29]:
df_pyspark=df_pyspark.withColumn('name',df_pyspark['first_name'] + df_pyspark['last_name']) # does not work!

In [30]:
df_pyspark.show(5)

+----------+---------+---+------+------+----------+--------------------+------------+--------------------+------------+----------+----+-----+
|first_name|last_name|age|gender|  race|death_date|             address|neighborhood|                type|   longitude|  latitude|name|age_2|
+----------+---------+---+------+------+----------+--------------------+------------+--------------------+------------+----------+----+-----+
|  Cesar A.|  Aguilar| 18|  Male|Latino|1992-04-30|     2009 W. 6th St.|    Westlake|Officer-involved ...|-118.2739756|34.0592814|null|   20|
|    George|  Alvarez| 42|  Male|Latino|1992-05-01|Main & College st...|   Chinatown|    Not riot-related|-118.2340982|34.0626901|null|   44|
|    Wilson|  Alvarez| 40|  Male|Latino|1992-05-23| 3100 Rosecrans Ave.|   Hawthorne|            Homicide| -118.326816| 33.901662|null|   42|
|  Brian E.|   Andrew| 30|  Male| Black|1992-04-30|Rosecrans & Chest...|     Compton|Officer-involved ...|-118.2153903|33.9034569|null|   32|
|    Vivian|   Austin| 87|Female| Black|1992-05-03|    1600 W. 60th St.|Harvard Park|               Death| -118.304741| 33.985667|null|   89|
+----------+---------+---+------+------+----------+--------------------+------------+--------------------+------------+----------+----+-----+
only showing top 5 rows

In [34]:
from pyspark.sql.functions import concat,col,lit

In [35]:
df_pyspark.select(concat(col("first_name"), lit(" "), col("last_name"))).show(5)

+--------------------------------+
|concat(first_name,  , last_name)|
+--------------------------------+
|                Cesar A. Aguilar|
|                  George Alvarez|
|                  Wilson Alvarez|
|                 Brian E. Andrew|
|                   Vivian Austin|
+--------------------------------+
only showing top 5 rows

In [36]:
df_pyspark=df_pyspark.drop('name')
df_pyspark.show()

+----------+-------------+----+------+------+----------+--------------------+---------------+--------------------+------------+-----------+-----+
|first_name|    last_name| age|gender|  race|death_date|             address|   neighborhood|                type|   longitude|   latitude|age_2|
+----------+-------------+----+------+------+----------+--------------------+---------------+--------------------+------------+-----------+-----+
|  Cesar A.|      Aguilar|  18|  Male|Latino|1992-04-30|     2009 W. 6th St.|       Westlake|Officer-involved ...|-118.2739756| 34.0592814|   20|
|    George|      Alvarez|  42|  Male|Latino|1992-05-01|Main & College st...|      Chinatown|    Not riot-related|-118.2340982| 34.0626901|   44|
|    Wilson|      Alvarez|  40|  Male|Latino|1992-05-23| 3100 Rosecrans Ave.|      Hawthorne|            Homicide| -118.326816|  33.901662|   42|
|  Brian E.|       Andrew|  30|  Male| Black|1992-04-30|Rosecrans & Chest...|        Compton|Officer-involved ...|-118.2153903| 33.9034569|   32|
|    Vivian|       Austin|  87|Female| Black|1992-05-03|    1600 W. 60th St.|   Harvard Park|               Death| -118.304741|  33.985667|   89|
|  Franklin|    Benavidez|  27|  Male|Latino|1992-04-30|4404 S. Western Ave.| Vermont Square|Officer-involved ...|-118.3088215| 34.0034731|   29|
|     Carol|       Benson|  42|Female| Black|1992-05-02|Harbor Freeway ne...|     South Park|               Death|-118.2805037|33.98916756|   44|
|   Patrick|       Bettan|  30|  Male| White|1992-04-30|2740 W. Olympic B...|      Koreatown|            Homicide| -118.293181|  34.052068|   32|
|    Hector|       Castro|  49|  Male|Latino|1992-04-30|Vermont & Leeward...|      Koreatown|            Homicide| -118.291654| 34.0587022|   51|
|  Jerel L.|     Channell|  26|  Male| Black|1992-04-30|Santa Monica Boul...|      Hollywood|               Death|-118.3323783|34.09129756|   28|
|   Gregory|    Davis Jr.|  15|  Male| Black|1992-04-30|Vermont Avenue & ...| Vermont Square|            Homicide|-118.2915492|  34.005485|   17|
|      John|      Doe #80|null|  Male| White|1992-05-02|5800 block of Sou...|Vermont-Slauson|            Homicide|-118.2914954|33.98939885| null|
|     Harry|       Doller|  56|  Male| White|1992-05-01|3500 block of Win...|    Silver Lake|    Not riot-related| -118.278763|34.08778849|   58|
|  Kevin J.|      Edwards|  35|  Male| Black|1992-04-30|  614 S. Locust Ave.|        Compton|    Not riot-related|-118.2002522|  33.892421|   37|
|    Howard|      Epstein|  45|  Male| White|1992-04-30|Slauson & 7th ave...|      Hyde Park|            Homicide|-118.3247424| 33.9890486|   47|
|     Juana|     Espinosa|  65|Female|Latino|1992-05-02|7608 S. Compton Ave.|        Compton|            Homicide|-118.2461881| 33.9198205|   67|
|  Kevin A.|     Evanahen|  24|  Male| White|1992-05-01|Braddock Drive & ...|        Del Rey|            Homicide|-118.4144533|33.99267241|   26|
|   Jose L.|       Garcia|  15|  Male|Latino|1992-04-30|  1005 S. Fresno St.|  Boyle Heights|    Not riot-related|-118.2070419| 34.0275527|   17|
|      Mark|       Garcia|  15|  Male|Latino|1992-04-30|10700 block of Bu...|         Lennox|Officer-involved ...|-118.3537656|33.93895407|   17|
|     Elias|Garcia Rivera|  32|  Male|Latino|1992-12-16|   12834 Vanowen St.|    Valley Glen|            Homicide|-118.4137912| 34.1939342|   34|
+----------+-------------+----+------+------+----------+--------------------+---------------+--------------------+------------+-----------+-----+
only showing top 20 rows

In [37]:
df_pyspark.withColumnRenamed('age_2', 'age_plus_2').show()

+----------+-------------+----+------+------+----------+--------------------+---------------+--------------------+------------+-----------+----------+
|first_name|    last_name| age|gender|  race|death_date|             address|   neighborhood|                type|   longitude|   latitude|age_plus_2|
+----------+-------------+----+------+------+----------+--------------------+---------------+--------------------+------------+-----------+----------+
|  Cesar A.|      Aguilar|  18|  Male|Latino|1992-04-30|     2009 W. 6th St.|       Westlake|Officer-involved ...|-118.2739756| 34.0592814|        20|
|    George|      Alvarez|  42|  Male|Latino|1992-05-01|Main & College st...|      Chinatown|    Not riot-related|-118.2340982| 34.0626901|        44|
|    Wilson|      Alvarez|  40|  Male|Latino|1992-05-23| 3100 Rosecrans Ave.|      Hawthorne|            Homicide| -118.326816|  33.901662|        42|
|  Brian E.|       Andrew|  30|  Male| Black|1992-04-30|Rosecrans & Chest...|        Compton|Officer-involved ...|-118.2153903| 33.9034569|        32|
|    Vivian|       Austin|  87|Female| Black|1992-05-03|    1600 W. 60th St.|   Harvard Park|               Death| -118.304741|  33.985667|        89|
|  Franklin|    Benavidez|  27|  Male|Latino|1992-04-30|4404 S. Western Ave.| Vermont Square|Officer-involved ...|-118.3088215| 34.0034731|        29|
|     Carol|       Benson|  42|Female| Black|1992-05-02|Harbor Freeway ne...|     South Park|               Death|-118.2805037|33.98916756|        44|
|   Patrick|       Bettan|  30|  Male| White|1992-04-30|2740 W. Olympic B...|      Koreatown|            Homicide| -118.293181|  34.052068|        32|
|    Hector|       Castro|  49|  Male|Latino|1992-04-30|Vermont & Leeward...|      Koreatown|            Homicide| -118.291654| 34.0587022|        51|
|  Jerel L.|     Channell|  26|  Male| Black|1992-04-30|Santa Monica Boul...|      Hollywood|               Death|-118.3323783|34.09129756|        28|
|   Gregory|    Davis Jr.|  15|  Male| Black|1992-04-30|Vermont Avenue & ...| Vermont Square|            Homicide|-118.2915492|  34.005485|        17|
|      John|      Doe #80|null|  Male| White|1992-05-02|5800 block of Sou...|Vermont-Slauson|            Homicide|-118.2914954|33.98939885|      null|
|     Harry|       Doller|  56|  Male| White|1992-05-01|3500 block of Win...|    Silver Lake|    Not riot-related| -118.278763|34.08778849|        58|
|  Kevin J.|      Edwards|  35|  Male| Black|1992-04-30|  614 S. Locust Ave.|        Compton|    Not riot-related|-118.2002522|  33.892421|        37|
|    Howard|      Epstein|  45|  Male| White|1992-04-30|Slauson & 7th ave...|      Hyde Park|            Homicide|-118.3247424| 33.9890486|        47|
|     Juana|     Espinosa|  65|Female|Latino|1992-05-02|7608 S. Compton Ave.|        Compton|            Homicide|-118.2461881| 33.9198205|        67|
|  Kevin A.|     Evanahen|  24|  Male| White|1992-05-01|Braddock Drive & ...|        Del Rey|            Homicide|-118.4144533|33.99267241|        26|
|   Jose L.|       Garcia|  15|  Male|Latino|1992-04-30|  1005 S. Fresno St.|  Boyle Heights|    Not riot-related|-118.2070419| 34.0275527|        17|
|      Mark|       Garcia|  15|  Male|Latino|1992-04-30|10700 block of Bu...|         Lennox|Officer-involved ...|-118.3537656|33.93895407|        17|
|     Elias|Garcia Rivera|  32|  Male|Latino|1992-12-16|   12834 Vanowen St.|    Valley Glen|            Homicide|-118.4137912| 34.1939342|        34|
+----------+-------------+----+------+------+----------+--------------------+---------------+--------------------+------------+-----------+----------+
only showing top 20 rows